@font-face {
    font-family: 'PPMori'; /* Font family name */
    src: url('../fonts/PPMori-Regular.otf') format('opentype'),
         url('../fonts/PPMori-Extralight.otf') format('opentype'),
         url('../fonts/PPMori-ExtralightItalic.otf') format('opentype'),
         url('../fonts/PPMori-RegularItalic.otf') format('opentype'),
         url('../fonts/PPMori-SemiBold.otf') format('opentype'),
         url('../fonts/PPMori-SemiBoldItalic.otf') format('opentype');
}

* {
    font-family: 'PPMori', serif;
}

html{
    scroll-behavior: smooth;
}

header {
    padding: 40px;
}

nav {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    display: inline;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 500;

}

h1{
    font-size: 150px;
    font-weight: 300;
}

h3{
    font-size: 28px;
    font-weight: 200;
    width: 400px;
    text-align: left;
}

.heroSection{
    padding: 20px;
    text-align: center;
    height: 100vh;
}

.heroSection .container {
    display: flex;
    align-items:center;
    gap: 80px;
    position: absolute;
    bottom: 0;
    padding-left: 80px;
}

.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.aboutMe .textContent{
    flex: 1;
    text-align: left;
}

.aboutMe img{
    max-width: 600px;
    height: auto;
    border-radius: 25%;
    margin-left: 20px;
}

h2{
    font-size: 92px;
    font-weight: 300;
}

p{
    font-size: 20px;
    width: 800px;
    line-height: 28px;
}

.worksSection{
    padding: 80px;
}

.workContainer{
    display: flex;
    justify-content: space-between;
}


.card{
    border: 2px solid #000;
    border-radius: 25px;
    padding: 40px;
    width: 400px;
    height: 400px;
}

.card:hover{
    border: 2px solid #000;
    border-radius: 25px;
    padding: 40px;
    scale: 120%;
    color: #fff;
}

.work1:hover {
    background: url("../ACRD.jpg");
}

.work2:hover {
    background: url("../allAboard.jpg");
}

.work3:hover {
    background: url("../GardenPark.jpg");
}

.card img{
    display: none;
}

.card p{
    width: 300px;
}

h4{
    font-size: 32px;
    font-weight: 200;
}

.worksSection .card button{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.worksSection .card button:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
}

.contactMe {
    padding: 80px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}

.contactMe h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.contactMe form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactMe .form-group {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-bottom: 15px; 
}

.contactMe label {
    font-size: 16px;
    min-width: 100px; 
    text-align: left; 
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contactMe input,
.contactMe textarea {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.contactMe textarea {
    height: 100px;
}

.contactMe button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contactMe button:hover {
    background-color: #45a049;
}

footer {
    margin: 0px auto;
    text-align: center;
}

@media (min-width: 600px) and (max-width: 1024px) {
 
    header {
        padding: 20px;
    }

    .heroSection {
        padding: 10px;
        height: 80vh; 
    }

    .heroSection .container {
        flex-direction: row; 
        gap: 20px; 
        padding-left: 20px;
    }

    h1 {
        font-size: 80px; 
    }

    h2 {
        font-size: 62px;
    }

    h3 {
        font-size: 20px;
        width: 300px; 
    }

    h4{
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    .aboutMe {
        flex-direction: row;
        align-items: center;
        padding-top: 160px;
        padding-left: 40px;
    }

    .aboutMe p{
        width: 600px;
    }

    .aboutMe img {
        max-width: 300px;
        margin-left: 0;
    }

    .worksSection {
        padding: 40px;
    }

    .workContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        align-items: center;
        
    }

    .card {
        width: 300px; 
        height: 300px;
        padding: 40px; 
    }

    .card p {
        width: auto; 
    }

    .contactMe {
        padding: 40px;
    }

    .contactMe form {
        flex-direction: column;
    }

    .contactMe input,
    .contactMe textarea {
        padding: 8px; 
        width: 100%; 
    }

    footer {
        padding: 20px;
    }
}

@media (max-width: 600px) {
    
    header {
        padding: 10px; 
    }

   
    nav {
        text-align: center; 
    }

    ul {
        display: inline; 
        padding-left: 0;
    }

    li {
        display: inline;
        margin: 20px, 0;
    }

   
    .heroSection {
        padding: 10px;
        height: 60vh;
        text-align: left; 
    }

    .heroSection .container {
        padding-left: 20px; 
        gap: 20px; 
    }

    h1 {
        font-size: 60px; 
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 18px;
        width: auto; 
    }

    p {
        font-size: 16px;
    }

    .aboutMe {
        flex-direction: column; 
        align-items: flex-start; 
        padding-top: 260px;
        padding-left: 40px; 
    }

    .aboutMe img {
        max-width: 400px; 
        margin-left: 0; 
    }

    .aboutMe p{
        width: 400px;
    }

    .worksSection {
        padding-left: 40px;
        padding-bottom: 160px;
    }

    .workContainer {
        flex-direction: column; 
        align-items: center; 
    }

    .card {
        width: 100%; 
        height: auto; 
        padding: 20px; 
        margin: 20px 0;
    }

    .card p {
        width: auto; 
    }

    .contactMe {
        padding: 20px; 
    }

    .contactMe form {
        align-items: center; 
    }

    .contactMe input,
    .contactMe textarea {
        padding: 5px;
        width: 100%; 
    }

    footer {
        padding: 10px;
    }
}
